@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
 
  --text-dark: #2c2724;
  --white: #ffffff;
  --max-width: 1200px;
  --primary-color: #356aff;
  --bg-color: #f5f5f5;
  --light-bg-color: #fff;
  --text-color: #111116;
  --light-text-color: #cdccd1;
  --primary-text-color: #fff;

  font-family: "Montserrat", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  outline: none;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

body {
  max-width: 100%;
  min-width: none;
  width: none; 

  scroll-behavior: smooth;

  display: grid;
  
  
}

nav {
  position: fixed;
  isolation: isolate;
  max-width: 100%;
  width: 100%;
  min-width: none;
  z-index: 9;
}

.nav__header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text-dark);
}

.nav__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--white);
}

.nav__menu__btn {
  font-size: 1.5rem;
  color: var(--white);
  cursor: pointer;
}

.nav__links {
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  padding: 2rem;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--text-dark);
  transition: 0.5s;
  z-index: -1;
  transform: translateY(-100%);
}

.nav__links.open {
  transform: translateY(0);
}

.nav__links a {
  font-weight: 600;
  color: var(--primary-color);
 padding: 1rem;

  
}

.nav__links a:hover {
  
text-decoration: underline;
text-underline-offset: 10px;

transition: 1s linear;
}

.nav__btns {
  display: none;
}

.container {
  max-width: var(--max-width);
  margin: auto;
  padding: rem 0;
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 2rem;
  overflow: hidden;
  margin-bottom: 15%;
}

.container__left {
  padding-inline: 1rem;
  text-align: center;
}

.container__left h1 {

  margin-top: 20%;
  
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4.5rem;
  color: var(--text-dark);
  text-align: center;
}

.container__left .btn {
  padding: 1rem 2rem;
  letter-spacing: 2px;
  color: var(--white);
  background-color: var(--text-dark);
  border-radius: 5rem;
}

.container__left .btn:hover {
  color: var(--text-dark);
  background-color: var(--primary-color);
}

.container__right {
  position: relative;
  isolation: isolate;
  display: grid;
  gap: 2rem;
}

.container__right::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  padding: 0 2rem;
  transform-origin: left;
  height: 80%;
  background-color: #1c1c1c;
  border-radius: 1rem;
  z-index: -1;


  animation: show 0.75s 1.25s ease-in-out forwards;
}

@keyframes show {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 2rem);
    
  }
}

.images {
  
  display: flex;
  align-items: center;
  justify-content: center;
}



.tent-2 {
  max-width: 180px;
}

.content {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding-block: 0 5rem;
  padding-inline: 2rem;
  text-align: center;
}

.content h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.content h2 {
  margin-bottom: 0.5rem;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2px;
  color: white;
}

.content h3 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.content p {
  line-height: 1.75rem;
  color: white;
}





@media (width > 768px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    flex: 1;
    padding: 0;
    background-color: transparent;
  }

  .nav__logo a {
    color: var(--text-dark);
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .nav__links a,
  .nav__links a:hover {
    color: var(--text-dark);
  }

  .nav__btns {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .nav__btns .btn {
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: transparent;
  }

  .container {
    grid-template-columns: 2fr 3fr;
    align-items: center;
    padding: 2rem 0;
  }

  .container__left {
    text-align: left;
  }
}

@media (width > 1024px) {
  .container__right {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  .container__right::before {
    bottom: unset;
    top: 0;
    height: 90%;
  }

  .images {
    flex-direction: column;
  }

  .tent-1 {
    width: calc(100% + 10rem);
    max-width: 325px;
    transform: translate(-2rem, 2rem);
  }

  .tent-2 {
    max-width: 200px;
    transform: translate(4rem, -1rem);
  }
  
  .content {
    padding-block: 5rem;
    text-align: left;
    max-width: 400px;
    margin-inline-start: unset;
  }
}



a {
  color: white;
}
.container {
  position: relative;
  width: 1200px;
  padding: 0 20px;
  display: flex;
  gap: 10px;
}
.container .card {
  flex: 1;
  padding: 30px;
  border-radius: 20px;
  background-color: var(--light-bg-color);
}
.container .card .from,
.container .card .to {
  display: flex;
  align-items: center;
  gap: 20px;
}
.container .card .from {
  margin-right: 20px;
}
.container .card .to {
  margin-left: 20px;
}
.container .card .heading {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--light-text-color);
  white-space: nowrap;
}
.dropdown-container {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.dropdown-container .dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  border-radius: 30px;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: all 0.3s;
}
.dropdown-container .dropdown-toggle span {
  flex: 1;
  margin-left: 10px;
}
.dropdown-container .dropdown-toggle ion-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
}
.dropdown-container.active .dropdown-toggle {
  border-radius: 20px 20px 0 0;
}
.dropdown-container.active .dropdown-toggle ion-icon:last-child {
  transform: rotate(180deg);
}
.dropdown-container .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 300px;
  overflow: auto;
  display: none;
  padding: 20px;
  z-index: 1;
  list-style: none;
  flex-direction: column;
  background-color: var(--bg-color);
  transition: all 1s;
  border-radius: 0 0 20px 20px;
}
.dropdown-container .dropdown-menu::-webkit-scrollbar {
  display: none;
}
.dropdown-container.active .dropdown-menu {
  display: flex;
}

.dropdown-container .dropdown-menu li {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  border-bottom: 1px solid var(--light-bg-color);
  transition: all 0.3s ease;
}
.dropdown-container .dropdown-menu li:hover {
  background-color: var(--light-bg-color);
}
.dropdown-container .dropdown-menu li.active {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.container .text-area {
  position: relative;
}
.container textarea {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  color: var(--text-color);
  font-size: 18px;
  font-family: "Poppins", sans-serif;
}
.container .text-area .chars {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
  font-size: 0.8rem;
  color: var(--light-text-color);
}
.container .center {
  position: relative;
}
.swap-position {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  border: 5px solid var(--bg-color);
  transition: all 0.3s ease;
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.swap-position ion-icon {
  font-size: 25px;
}
.swap-position:hover {
  transform: translateX(-50%) scale(1.1);
}
.card-bottom {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  border-top: 2px solid var(--bg-color);
}
.card-bottom p {
  margin-bottom: 20px;
}
.card-bottom label {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  cursor: pointer;
  border-radius: 30px;
  background-color: var(--bg-color);
}
.card-bottom label:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}
.card-bottom span {
  font-size: 12px;
  pointer-events: none;
}
.card-bottom ion-icon {
  font-size: 20px;
}

.card-bottom button {
  height: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 0 20px;
  border-radius: 30px;
  border: none;
  outline: none;
  color: var(--text-color);
  cursor: pointer;
  background-color: var(--bg-color);
}
.card-bottom button:hover {
  color: var(--primary-text-color);
  background-color: var(--primary-color);
}

.mode {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
.toggle {
  position: relative;
  cursor: pointer;
}
.toggle-track {
  width: 24px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 3px 0;
  justify-content: space-between;
  border: 1px solid var(--light-text-color);
  background-color: var(--light-bg-color);
  transition: all 0.2s ease;
}
.toggle-checkbox {
  display: none;
}
.toggle-thumb {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--primary-color);
  transition: all 0.5s;
}
.toggle input:checked ~ .toggle-thumb {
  transform: translateY(25px);
}
.toggle img {
  width: 20px;
  height: 20px;
}

/* media quiries */
@media (max-width: 800px) {
  .container {
    width: 100%;
    margin-top: 20px;
    flex-direction: column;
  }
  .container .card {
    width: 100%;
  }
  .container .card .from {
    margin-right: 0;
  }
  .container .card .to {
    margin-left: 0;
  }
  .container .card .from,
  .container .card .to {
    flex-direction: column;
  }

  .swap-position {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swap-position:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  .swap-position ion-icon {
    transform: rotate(90deg);
  }
}


button {
  background-color: #9b59b6; /* Botones morados */
  color: #fff;
  border: none;
  padding: 15px 30px;
  font-size: 1.0em;
  margin: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra en los botones */
}

button:hover {
  background-color: #8e44ad; /* Morado más intenso */
  transform: scale(1.1); /* Aumenta el tamaño al pasar el mouse */
}

.interactive-button {
  background: linear-gradient(45deg, #8e44ad, #3498db); /* Gradiente morado-azul */
  transition: transform 0.2s ease-in-out;
}

.interactive-button:hover {
  transform: translateY(-5px) scale(1.05); /* Sube el botón y aumenta ligeramente su tamaño */
}

/* Contenedores */
#intro-container, #quiz-container, #final-score {
  color: #fff;
  margin: 10rem auto;
  background-color: #ffffff00; /* Fondo gris oscuro */
  padding: 20px;
  border-radius: 20px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); */
  text-align: center;
  max-width: 600px;
  width: 100%;
  animation: fadeIn 1.5s ease-in-out; /* Animación de entrada */
}

#intro-container > h1 {
  
  margin: 2rem 0;
  text-align: center;
}
#question {
  
  margin: 0.5rem 0;
  text-align: center;
}

#quiz-container > h2 {
  
  margin: 2rem 0;
  text-align: center;
}

.introduction-quiz-1 {
  padding: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin:  8rem 0 15rem 0;
  text-align: center;
}

.introduction-quiz-1> p {
  width: 100%;
  margin: 1rem;
}

.introduction-quiz-2> p {
  width: 100%;
  margin: 1rem;
}

.introduction-quiz-2 {

  
  padding: 1rem;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 7rem auto;
  text-align: center;
}

section {
  margin: 0;
  background-color: #1c1c1c;
  margin: 0 0 4rem 0;
  padding: 5rem;
  box-shadow: #1c80bb 10px ;
  -webkit-box-shadow: 0px 10px 28px 10px rgba(216,97,255,1);
  -moz-box-shadow: 0px 10px 28px 10px rgba(216,97,255,1);
  box-shadow: 0px 10px 28px 10px rgba(216,97,255,1);
}

.txt-quiz {
  
  margin: 0.5rem;
  text-align: justify;
}

.sena-logo {
  width: 150px;
  margin: 20px auto;
  animation: bounce 2s infinite; /* Animación de rebote */
}

input[type="text"] {
  width: 80%;
  padding: 15px;
  margin: 10px 0;
  border: 2px solid #9b59b6;
  border-radius: 10px;
  font-size: 1.1em;
  outline: none;
  color: #1c1c1c;
  background-color: #f0e6ff; /* Fondo lila claro */
  transition: border-color 0.3s;
}

::-webkit-scrollbar {

width: 0.1px;
height: 0.1px;


}

input[type="text"]:focus {
  border-color: #8e44ad; /* Borde púrpura claro */
}

#feedback {
  font-size: 1.2em;
  margin-top: 20px;
  min-height: 1.5em;
  transition: opacity 0.3s;
}

.correct {
  color: #66bb6a; /* Verde */
  animation: correctAnimation 1s ease-in-out;
}

.incorrect {
  color: #ef5350; /* Rojo */
  animation: incorrectAnimation 1s ease-in-out;
}

/* Animaciones */
@keyframes correctAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes incorrectAnimation {
  0% { transform: scale(1); }
  50% { transform: scale(0.9); }
  100% { transform: scale(1); }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% { transform: translateY(0); }
  40% { transform: translateY(-20px); }
  60% { transform: translateY(-10px); }
}
